/*Colors: 
light gray #E8E8E8 
dark gray #484944 
dark blue #29405A 
dark red #600b0b 
white #FFFFFF
black #000000
*/


html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: georgia;
}

p {
	font-family: helvetica;
	font-size: 16px;
	line-height: 23px;
}

a {
	color: #600b0b;
	text-decoration: none;
}

a:hover {
	color: #29405A;
}