html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: georgia;
}

p {
	font-family: helvetica;
	font-size: 12px;
	line-height: 17px;
}


/*	dark grey #585959
	med grey #dedede
	light grey #f6f6f6
	red #ee0000
	dark blue #334867 */